.leftMenu {
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    padding: 2rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
}

.logo {
    height: 1.75rem;
    margin-bottom: 1.5rem;
}

.leftMenuInfo {
    padding-top: 1.5rem;
    display: flex;
    width: calc(100% - 2rem);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.leftMenuInfoText {
    display: inline-block;
}

.leftMenuName {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.leftMenuEmail {
    display: block;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}

.leftMenuPill {
    height: 1.5rem;
}