.content {
    /* make flex to position in center */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    /* position in front */
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    object-fit: cover;
    z-index: -1;
}

.inner {
    /* displays the login page authentication content */
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 0.25rem;
    box-shadow: #000000;
    font-family: 'Inter';
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}