.points {
	padding: 1.5rem;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
}

.pointTitle {
	display: block;
	font-size: 1.2rem;
	opacity: 0.6;
}

.numberPoints {
	font-size: 3rem;
	color: #878716;
	font-weight: 600;
	margin: 2rem 0rem;
}